<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/main.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js" integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Hello, world!</title>
  </head>
  <body>
    

    <%- include('nav.html') %>

    <div class="container mt-4" style="text-align:center">
      <h4 class="ml-2 my-3 text-center">웹소켓 채팅방</h4>

      <input id="message" onkeyup="enterkey()">
      <button id="leaveroom">채팅방 나가기</button>
      <div id="content"></div>

    </div>



    <div class="container mt-4">
      <h4 class="ml-2 my-3 text-center">채팅방 목록</h4>

      <form action="/write" method="POST">
        <div class="container input-group mb-2">
          <input type="text" class="form-control" name="title" id="title">
          <input type="submit" class="input-group-append btn btn-danger" id="write" value="방만들기">
        </div>
      </form>

      <!-- <script>
        $('#write').click(function(){
          var write_title = $('#write_title').val();
          if(write_title == null){
            alert('채팅방 제목을 입력해주세요');
            return false;
          }
        })
      </script> -->

      <ul class="list-group">      
        <% for(var i=0; i<posts.length; i++){ %>
        <li class="list-group-item">
          <h4>채팅방 이름 : <%= posts[i].제목 %> 채팅방 번호 : <%= posts[i]._id %></h4>
          <button class="delete btn btn-danger" data-id="<%= posts[i]._id %>">삭제</button>
          <button class="joinroom btn btn-danger" data-id="<%= posts[i]._id %>">채팅방 입장</button> <!-- data-id에 작성자 숨겨 보내기 -->
        </li>
        <% } %>
      </ul>
    </div>


    <script>
        var socket = io();
        var roomno = "";

        // 채팅방에 입장시키기
        $('.joinroom').click(function(e){
          roomno = e.target.dataset.id;
          
          window.location.replace('/chatroom/number='+roomno) // url을 갈아치워줘(=get 요청)
          socket.emit('joinroom', roomno)
        });

        // 내가 속한 곳에 메시지 보내기
        function enterkey() {
            if (window.event.keyCode == 13) {
                // 엔터키가 눌렸을 때
                socket.emit('room-send', $('#message').val()) // 작명, 보낼메시지
                $('#message').val(''); // 입력하면 비워주기
              }
        }

        // $('#room1-send').click(function(){
        //     socket.emit('room1-send', $('#input1').val()) // 작명, 보낼메시지
        // });

        // 유저가 서버에게 메시지 받기
        socket.on('broadcast', function(data){
            $('#content').append('<div>' + data + '</div>')
        });

        // 채팅방 퇴장하기
        $('#leaveroom').click(function(){
            socket.emit('leaveroom', roomno)
        });


        // 삭제 요청하기
        $('.delete').click(function(e){ // 클래스가 delte인걸 클릭할 때만 실행해줘
          // 내가 누른 버튼에 숨겨진 data-id 값을 가져와줘
          var 글번호 = e.target.dataset.id; // 지금 클릭 한 것
          var 지금누른거 = $(this); // 지금 이벤트가 동작하는 곳(누른 버튼)


          $.ajax({
          method : 'DELETE', // delete 요청할거야
          url : '/delete', // delete경로로
          data : {_id : 글번호}, // 보낼데이터(ex: 게시물 번호)
          }).done(function(result){ // 요청이 성공하면 이걸 실행해줘
            // 페이지를 강제로 새로고침해주세요

            // 삭제버튼을 누른 <li> 요소를 제거해주세요/안보이게
            console.log('성공했다!'); // 브라우저 콘솔 창에(F12 쪽)
            지금누른거.parent('li').fadeOut();

          }).fail(function(xhr, textStatus, errorThrown){// 요청이 실패했을 때 실행해줘
            console.log(xhr, textStatus, errorThrown);
          });
        })


    </script>






    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
  </body>
</html>